<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise 2</title>
</head>
<body>
    <h1>Exercise 2</h1>
    <p id="myParagraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique corporis perferendis libero temporibus voluptatibus. Ipsa recusandae minima doloribus reprehenderit in quo deleniti molestias dolorem ducimus quasi fuga, corporis accusamus error!</p>
    <button id="myBtn">Click</button>

    <script src="../src/studentExercise2.js"></script>
</body>
</html>