<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOM Event handlers (Traditional)</title>
</head>
<body>
    <h1>DOM Event handlers (Traditional)</h1>
    <input id="myButton" type="button" value="Click me" />
    <input id="mySecondButton" type="button" value="Click me 2" />
    <div id="myDiv" style="background-color: aqua;">
        Go over with mouse!
    </div>
    <script src="../src/domEventHandlers.js"></script>
</body>
</html>